absl-py==2.4.0
attrs==25.4.0
cloudpickle==3.1.2
decorator==5.2.1
jupyterlab==4.5.6
jupyterlab-git==0.52.0
jupyter-resource-usage==1.2.0
matplotlib==3.10.8
mindspore==2.8.0
ml-dtypes==0.5.4
nbmake==1.5.5
nbstripout==0.9.1
pytest==9.0.2
scikit-learn==1.8.0
sympy==1.14.0
tornado==6.5.5
